---
import Link from "../Link.astro";
---

<div class="mt-24 text-center">
  <p class="text-xl font-medium">
    Nicht das gefunden nachdem Sie gesucht haben?
  </p>
  <p class="text-base mt-2 mb-6">
    Absolut kein Problem! Kontaktieren Sie uns und erzählen Sie uns von Ihrem
    Vorhaben. Sicherlich finden wir eine Lösung.
  </p>
  <Link href="#kontakt">Anliegen besprechen</Link>
</div>
