<div class="text-center mt-24">
  <p class="text-xl font-bold">Interesse geweckt?</p>
  <p class="text-lg text-neutral-600 tracking-wide">
    Der Bewerbungsprozess ist jetzt noch viel einfacher!
  </p>
  <div class="mt-4 max-w-4xl mx-auto">
    <p>
      Ruf uns einfach direkt an unter der Nummer <a
        href="tel:4942215848114"
        class="font-bold text-brand-500">+49 (4221) 58 48 114</a
      >
      oder
      <a href="tel:491729421474" class="font-bold text-brand-500"
        >+49 (172) 94 21 474</a
      > an um deine Möglichkeiten bei uns in der Firma zu besprechen oder schick
      uns deine Bewerbung an <a
        href="mailto:info@hubatsch-haustechnik.de"
        class="font-bold text-brand-500">jobs@hubatsch-haustechnik.de</a
      >.
    </p>
    <p class="mt-4">
      Wir legen Wert auf den Mensch hinter dem Lebenslauf und freuen uns darauf
      dich kennenzulernen.
    </p>
  </div>
</div>
