---
import Offer from "./Offer.astro";
---

<div class="mt-12">
  <p class="mt-4 font-semibold text-lg">Aktuelle Stellenangebote:</p>
  <div class="flex flex-col space-y-4 mt-2">
    <Offer name="Elektroniker/in f체r Energie- und Geb채udetechnik" />
    <Offer
      name="Ausbildung zum Elektroniker/in f체r Energie- und Geb채udetechnik"
    />
  </div>
</div>
