---
import Container from "../components/Container.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout
  title="Hubatsch Haustechnik - Impressum"
  description="Hubatsch Haustechnik ist ein Elektronikerbetrieb aus Delmenhorst für Beleuchtung, Neubau, Altbau, Sicherheit, Geräteprüfung und Notdienst."
>
  <div class="h-24 bg-black"></div>
  <section class="prose max-w-full py-12">
    <Container>
      <h1>Impressum</h1>

      <p>
        Jörn Hubatsch <br />
        Hubatsch Haustechnik <br />
        Feldhusstraße 8<br />
        27755 Delmenhorst
      </p>

      <p>
        Mobil: +49 (172) 94 21 474<br />
        Telefon: +49 (4221) 58 48 114<br />
        Fax: +49 (4221) 58 48 115<br />
        E-Mail: info@hubatsch-haustechnik.de
      </p>

      <p>
        Betriebsnummer: 2260370842<br />
        Steuernummer: 57/119/02527
      </p>

      <h2>Rechtliche Hinweise</h2>

      <strong>COPYRIGHT</strong>
      <p>
        Das Copyright für veröffentlichte, von Hubatsch Haustechnik selbst
        erstellte Objekte bleibt allein beim Autor der Seiten. Eine
        Vervielfältigung oder Verwendung solcher Grafiken und Texte in anderen
        elektronischen oder gedruckten Publikationen ist ohne ausdrückliche
        Zustimmung von Hubatsch Haustechnik nicht gestattet.
      </p>

      <strong>HAFTUNGSAUSCHLUSS</strong>
      <p>
        Unsere Website und die darauf bereitgestellten Informationen werden
        einer sorgfältigen Überprüfung unterzogen und regelmäßig aktualisiert.
        Diesbezüglich kann jedoch keine Garantie über Vollständigkeit,
        Richtigkeit oder Aktualität der Angaben gewährleistet werden. Dies
        beinhaltet besonders direkte oder indirekte Links zu anderen Websites.
        Für den Inhalt der verlinkten Seiten sind ausschließlich deren Betreiber
        verantwortlich.
      </p>

      <strong>LINKHAFTUNGSAUSCHLUSS</strong>
      <p>
        Das Landgericht Hamburg hat im Urteil 312 O 85/98 „Haftung für Links“
        entschieden, dass durch die Verankerung eines Links auf einer
        Webseite/Homepage die Inhalte der verlinkten Seiten mit zu verantworten
        sind. Wir distanzieren uns ausdrücklich von allen Inhalten, die sich
        hinter den angegebenen Links, den dahinter stehenden Servern,
        weiterführenden Links, Gästebüchern und sämtlichen anderen sichtbaren
        und unsichtbaren Inhalten verbergen. Sollte eine der Seiten auf den
        entsprechenden Servern gegen geltendes Recht verstoßen, so ist uns
        dieses nicht bekannt. Auf entsprechende Benachrichtigung hin wird
        selbstverständlich der Link zu dem entsprechenden Server entfernt.
      </p>
    </Container>
  </section>
</Layout>
