---
import Contact from "../components/contact/Contact.astro";
import Feedback from "../components/feedback/Feedback.astro";
import Hero from "../components/Hero.astro";
import Partner from "../components/partner/Partner.astro";
import Services from "../components/services/Services.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Hubatsch Haustechnik">
  <main>
    <Hero />
    <Services />
    <Feedback />
    <Contact />
    <Partner />
  </main>
</Layout>
