<div class="w-[60%]">
  <h2 class="text-center">Erzählen Sie uns von ihrem Vorhaben</h2>
  <div class="rounded-md h-full p-8 flex flex-col space-y-4">
    <div class="flex space-x-2">
      <input
        type="text"
        placeholder="Name"
        class="w-full border border-gray-300 bg-white rounded-xl p-4 placeholder:tracking-widest"
      />
      <input
        type="email"
        placeholder="Email"
        class="w-full border border-gray-300 bg-white rounded-xl p-4 placeholder:tracking-widest"
      />
    </div>
    <textarea
      rows={8}
      placeholder="Nachricht"
      class="w-full border border-gray-300 bg-white rounded-xl p-4 placeholder:tracking-widest"
    ></textarea>

    <button
      class="px-4 mr-auto bg-brand-500 text-white rounded-md py-3 font-medium tracking-wide hover:bg-brand-700 transition-colors duration-100 ease-out hover relative"
    >
      Anfrage abschicken
    </button>
  </div>
</div>
