---
import Container from "../Container.astro";
import Mail from "../icons/Mail.astro";
import Phone from "../icons/Phone.astro";
import Pin from "../icons/Pin.astro";
import Blobs from "./Blobs.astro";
import ContactForm from "./ContactForm.astro";
import Joern from "./Joern.astro";
---

<section class="relative w-full">
  <Container>
    <div class="flex justify-between w-full space-x-8">
      <ContactForm />
      <Joern />
    </div>
  </Container>
</section>
