---
import Container from "../Container.astro";
import ContactForm from "./ContactForm.astro";
import Joern from "./Joern.astro";
---

<section class="relative w-full py-40" id="kontakt">
  <Container>
    <div class="flex justify-between w-full space-x-8">
      <ContactForm />
      <Joern />
    </div>
  </Container>
</section>
