---
import ContactInfo from "./ContactInfo.astro";
---

<div class="flex flex-col w-[40%]">
  <div
    class="flex bg-neutral-50 rounded-xl w-full h-72 pl-8 drop-shadow-2xl shadow-inner relative"
  >
    <div class="grow grid place-items-center">
      <div>
        <p class="text-lg">
          Durch unsere jahrelange Erfahrung im Handwerk sind Sie bei uns in den
          besten Händen. Wir führen sämtliche Arbeiten rund um die Uhr aus und
          geben selbstverständlich auch Hilfestellung bei der Planung für ihr
          eigenes Heim.
        </p>
        <p class="font-bold text-brand-500 mt-2">Jörn Hubatsch</p>
        <p class="text-sm">Geschäftsführer</p>
      </div>
    </div>
    <img
      src="huby.png"
      alt="Joern"
      width={1405}
      height={1676}
      class="sticky h-[150%] w-auto bottom-0 -translate-y-[33%] drop-shadow-2xl"
    />
  </div>

  <ContactInfo />
</div>
