---
import ContactInfo from "./ContactInfo.astro";
---

<div
  class="flex flex-col w-full lg:w-[60%] xl:w-[40%] lg:mt-0"
  id="joern-quote"
>
  <div
    class="flex rounded-xl w-full p-4 drop-shadow-lg shadow-inner bg-neutral-50 relative invisible translate-x-full opacity-0 transition-all duration-1000 [&.show]:visible [&.show]:translate-x-0 [&.show]:opacity-100"
    id="quote-container"
  >
    <div class="text-sm xs:text-base md:text-lg">
      <p>
        Durch unsere jahrelange Erfahrung im Handwerk sind Sie bei uns in den
        besten Händen. Wir führen sämtliche Arbeiten rund um die Uhr aus und
        geben selbstverständlich auch Hilfestellung bei der Planung für ihr
        eigenes Heim.
      </p>
      <p class="font-bold text-brand-500 mt-2">Jörn Hubatsch</p>
      <p class="text-xs xs:text-sm">Geschäftsführer</p>
    </div>

    <div
      class="h-full w-[40%] xs:w-[30%] md:w-[25%] -mr-4 mt-auto -mb-4 shrink-0 sm:-mt-[20%] lg:w-[30%] lg:-mt-[10%] xl:w-[40%] xl:-mt-[9%] 2xl:w-[40%] 2xl:-mt-[28%]"
    >
      <img
        src="/huby.webp"
        alt="Bild von Jörn Hubatsch"
        width={491}
        height={900}
        loading="lazy"
        class="drop-shadow-lg invisible translate-x-full opacity-0 transition-all duration-1000 delay-500 [&.show]:visible [&.show]:translate-x-0 [&.show]:opacity-100"
      />
    </div>
  </div>
  <ContactInfo />
</div>

<script>
  const quote = document.querySelector<HTMLElement>("#joern-quote");

  if (quote) {
    const observer = new IntersectionObserver((entries) => {
      entries.forEach((entry) => {
        if (entry.isIntersecting) {
          const img = quote.querySelector("img");
          const quoteContainer = quote.querySelector("#quote-container");
          const contactInfo = quote.querySelector("#contact-info");

          if (quoteContainer) {
            quoteContainer.classList.add("show");
          }

          if (img) {
            img.classList.add("show");
          }

          if (contactInfo) {
            contactInfo.classList.add("show");
          }
        }
      });
    });
    observer.observe(quote);
  }
</script>
