---
export interface Props {
  src: string;
  alt: string;
}

const { src, alt } = Astro.props;
---

<div
  class="opacity-40 grayscale hover:grayscale-0 hover:opacity-100 w-[15%] h-20 flex justify-center items-center bg-black/80 rounded-xl p-3"
>
  <img src={src} alt={alt} class="h-full w-full object-contain" />
</div>
