---
import Container from "../Container.astro";
import PartnerLogo from "./PartnerLogo.astro";
---

<section id="partner">
  <Container>
    <div
      class="bg-gradient-to-b from-neutral-900 to-black py-4 px-2 md:p-8 rounded-xl shadow-md bg-opacity-90 border-b-brand-500 border-b-2 relative z-10 translate-y-12"
    >
      <p class="text-neutral-400 text-center text-xs md:text-base">
        <strong class="text-brand-500 font-bold">Hubatsch Haustechnik</strong> ist
        der offizielle Partner der Stadt <a
          href="https://www.delmenhorst.de/"
          target="_blank"
          class="font-medium text-white">Delmenhorst</a
        > und sorgt unter anderem dafür, dass Veranstaltungen mit Strom versorgt
        werden können. Ebenfalls sind wir der direkte Ansprechpartner für den <a
          href="https://www.rhododendronparkbremen.de/parkteile/botanischer-garten/"
          target="_blank"
          class="font-medium text-white">botanischen Garten in Bremen</a
        > und im Falle eines Notfalls wie z.B. Stromausfall sorgen wir dafür, dass
        das Leben der Pflanzen aufrecht erhalten werden kann.
      </p>

      <p
        class="mt-8 md:mt-16 text-center text-neutral-200 text-lg md:text-xl font-bold"
      >
        Unsere starken Partner
      </p>
      <div
        class="grid grid-cols-3 place-items-center gap-4 md:gap-0 md:grid-cols-5 mt-4 md:mt-8 justify-around"
      >
        <PartnerLogo
          alt="Logo Christoffers"
          src="/christoffers.svg"
          href="https://www.christoffers.com/"
        />
        <PartnerLogo
          alt="Logo Hermes Systeme"
          src="/hermes.png"
          href="https://www.hermes-systeme.de/de/"
        />
        <PartnerLogo
          alt="Logo Würth"
          src="/wuerth.svg"
          href="https://www.wuerth.de/"
        />
        <PartnerLogo
          alt="Logo Sport Duwe"
          src="/sport-duwe.svg"
          href="https://www.sport-duwe.de/"
        />
        <PartnerLogo
          alt="Logo Indexa"
          src="/indexa.gif"
          href="https://www.indexa.de/"
        />
      </div>
    </div>
  </Container>
  <div class="bg-black h-12"></div>
</section>
