---
export interface Props {
  src: string;
  alt: string;
  href: string;
}

const { src, alt, href } = Astro.props;
---

<a
  class="opacity-80 hover:opacity-100 hover:grayscale-0 grayscale h-8 flex justify-center items-center"
  href={href}
  target="_blank"
>
  <img src={src} alt={alt} class="h-full w-full object-contain" />
</a>
