---
import Container from "./Container.astro";
import Logo from "./Logo.astro";
---

<footer class="pt-12 bg-black rounded-t-[80px]">
  <Container>
    <div class="py-6 flex justify-between">
      <div class="flex">
        <Logo width={80} />
      </div>
      <div class="flex space-x-2">
        <a
          href=""
          class="text-neutral-600 text-sm hover:text-white transition-colors"
          >Jobs</a
        >
        <a
          href=""
          class="text-neutral-600 text-sm hover:text-white transition-colors"
          >Datenschutz</a
        >
        <a
          href=""
          class="text-neutral-600 text-sm hover:text-white transition-colors"
          >Impressum</a
        >
      </div>
    </div>
  </Container>
</footer>
