---
import Container from "./Container.astro";
import Logo from "./Logo.astro";
---

<footer class="bg-black">
  <Container>
    <div class="py-6 flex justify-between">
      <div class="flex items-end">
        <Logo width={80} />
      </div>
      <div class="flex space-x-2 items-end">
        <a
          href="/jobs"
          class="text-neutral-400 text-xs md:text-sm hover:text-white transition-colors"
          >Jobs</a
        >
        <a
          href="/impressum"
          class="text-neutral-400 text-xs md:text-sm hover:text-white transition-colors"
          >Impressum</a
        >
        <a
          href="/datenschutz"
          class="text-neutral-400 text-xs md:text-sm hover:text-white transition-colors"
          >Datenschutz</a
        >
      </div>
    </div>
  </Container>
</footer>
