---
import Container from "./Container.astro";
import NavItem from "./NavItem.astro";
---

<header class="bg-black/40 py-6 absolute inset-x-0 z-50">
  <Container>
    <div class="flex items-center">
      <div class="w-28 sm:w-40 shrink-0">
        <img src="/company-logo.svg" alt="Logo von Hubatsch Haustechnik" />
      </div>
      <nav class="justify-end text-white hidden md:flex">
        <ul class="flex space-x-8">
          <li>
            <NavItem href="/" title="Start" />
          </li>
          <li>
            <NavItem href="#leistungen" title="Leistungen" />
          </li>
          <li>
            <NavItem href="#rezensionen" title="Rezensionen" />
          </li>
          <li>
            <NavItem href="#kontakt" title="Kontakt" />
          </li>
          <li>
            <NavItem href="/" title="Jobs" />
          </li>
        </ul>
      </nav>
    </div>
  </Container>
</header>
