---
export interface Props {
  href: string;
}

const { href } = Astro.props;
---

<a
  href={href}
  class="px-4 inline-block bg-brand-500 text-white rounded-md py-3 font-medium tracking-wide hover:bg-brand-700 transition-colors duration-100 ease-out hover relative"
>
  <slot />
</a>
