---
import NavItem from "./NavItem.astro";
---

<li>
  <NavItem href="/" title="Start" />
</li>
<li>
  <NavItem href="/#leistungen" title="Leistungen" />
</li>
<li>
  <NavItem href="/#rezensionen" title="Rezensionen" />
</li>
<li>
  <NavItem href="/#kontakt" title="Kontakt" />
</li>
<li>
  <NavItem href="/jobs" title="Jobs" />
</li>
