---
export interface Props {
  href: string;
  title: string;
}

const { href, title } = Astro.props;
---

<a
  href={href}
  data-title={title}
  class="uppercase tracking-wide text-neutral-400 hover:text-white after:bg-brand-500 after:absolute after:inset-0 relative after:-skew-x-12 transition-all after:translate-y-3 hover:after:animate-[slidein_200ms_ease-in-out_forwards] after:w-0 z-10 after:-z-10 after:pointer-events-none after:mx-2 hover:font-bold before:invisible before:font-bold before:h-0 before:overflow-hidden before:content-[attr(data-title)] inline-flex flex-col items-center after:h-0 hover:after:h-auto"
>
  {title}
</a>

<style>
  a {
  }

  @keyframes slidein {
    0% {
      width: 0;
    }
    100% {
      width: 100%;
    }
  }
</style>
