---
import Testimonial from "./Testimonial.astro";

const testimonals = [
  {
    text: "Absolut grandios!! Stromausfall nach 18 Uhr und innerhalb von 40 Minuten war alles wieder gerichtet, so einen schnellen und guten Service findet man heute kaum noch. Ich bin sehr dankbar für diesen tollen Service, auch die Nacharbeiten wurden pünktlich, schnell und korrekt durchgeführt. Ich fühle mich hier bestens beraten und aufgehoben und es ist hier wirklich jeden Euro wert! Eine absolute klare Empfehlung, schön dass es sowas noch gibt, vielen Dank!!",
    author: "Caroline Veenstra",
    rating: 5,
  },
  {
    text: "Wir haben sehr kurzfristig einen Termin (am gleichen Tag noch) bekommen, der zuverlässig eingehalten wurde. Alles war schnell und sehr ordentlich erledigt. Jederzeit wieder gerne!",
    author: "vonhierausweiter",
    rating: 5,
  },
  {
    text: "Unsere elekt. Markise musste angeschlossen werden. Firma Hubatsch kam sehr schnell. nette Mitarbeiter, sehr sauber und schnell gearbeitet. Wir können diese Firma nur empfehlen.",
    author: "Evelyn Gardemann",
    rating: 5,
  },
  {
    text: "Super Firma: waren weit und breit die einzigen, die uns einen Baustromverteiler stellen konnten. Beratung und Termine auch nach Feierabend möglich, selbstständiges Prüfen des Baustromverteilers und transparente Abrechnung gehörten alles dazu.",
    author: "Bastian Conze",
    rating: 5,
  },
  {
    text: "Plötzlich war das halbe Haus ohne Strom. Hr. Hubatsch kam noch spontan vorbei, 18 Uhr hatte ich angerufen, und hat uns innerhalb von 30 Minuten den Hals gerettet. Vielen Dank nochmals.👍",
    author: "Dirk Grundmann",
    rating: 5,
  },
];
---

<div class="overflow-hidden w-full carousel py-12">
  <div class="flex w-full grow">
    {
      testimonals.map((testimonial, index) => (
        <Testimonial
          text={testimonial.text}
          author={testimonial.author}
          rating={testimonial.rating}
        />
      ))
    }
  </div>
</div>

<script>
  import EmblaCarousel from "embla-carousel";
  import autoplay from "embla-carousel-autoplay";
  import classnames from "embla-carousel-class-names";

  const emblaNode = document.querySelector(".carousel") as HTMLElement;
  const embla = EmblaCarousel(
    emblaNode,
    {
      loop: true,
      containScroll: "keepSnaps",
    },
    [
      autoplay(),
      classnames({
        selected: "selected",
      }),
    ]
  );
</script>
