---
import Ratings from "./Ratings.astro";

export interface Props {
  rating: number;
  author: string;
  text: string;
}

const { text, author, rating } = Astro.props;
---

<div
  class="w-1/3 rounded-md p-4 shrink-0 text-center text-neutral-400 opacity-40"
>
  <p class="tracking-wide">
    {text}
  </p>
  <div class="mt-4 flex flex-col items-center">
    <Ratings rating={rating} starHeight={20} starWidth={20} />
    <p class="font-bold mt-1">- {author}</p>
  </div>
</div>

<style>
  .active {
    @apply text-white opacity-100;
  }
</style>
