---
import Container from "../Container.astro";
import GoogleRating from "./GoogleRating.astro";
import Testimonials from "./Testimonials.astro";
import Wave from "./Wave.astro";
---

<section id="rezensionen">
  <Wave />
  <div class="bg-black text-white">
    <Container>
      <h2 class="text-center">Unsere Kunden sind begeistert</h2>
      <GoogleRating />
      <Testimonials />
    </Container>
  </div>
  <Wave down />
</section>
